[Unit]
Description=awsiot Spring boot application
After=syslog.target

[Service]
ExecStart = /home/kumanaiotg1/Desktop/deviceAgent/aws/com.kumana.iotp.connector.aws-0.0.1-SNAPSHOT.jar -Xmx512M
Restart = always
RestartSec=10

[Install]
WantedBy=multi-user.target
